* {
    margin: 0;
    padding: 0;
    background-color: rgba(196, 190, 190, 0.511);
}

.main {
    background-color: rgb(222, 186, 186);
    max-width: 500px;
    margin: auto;
    margin-top: 110px;

}

.main:hover {
    box-shadow: rgba(107, 188, 197, 0.5) 0px 19px 38px, rgba(240, 97, 97, 0.812) 0px 15px 12px;

}

.heading {
    text-align: center;
    padding: 13px;
}

.head1 {
    text-transform: uppercase;
}

.head2 {
    text-transform: capitalize;
    text-align: center;
    font-weight: 200;
    padding: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

span {
    font-weight: bold;
}

.quote {
    background-color: rgb(153, 213, 219);
    padding: 20px;
    margin: 10px;
    font-size: x-large;
    font-family: cursive;
    border-radius: 10px;
}

.content:hover {}

.writer {
    /* background-color: rgb(92, 220, 234); */
    font-size: x-large;
    font-family: cursive;
    margin-left: 10px;
}

.button {
    padding: 5px;
    margin: 5px;
    width: 100px;
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    text-transform: capitalize;
    background-color: rgb(255, 208, 215);
    border-radius: 10px;
    border-color: rgb(238, 218, 187);
    margin-left: 10px;

}

.button:hover {
    background-color: rgb(222, 122, 137);
    box-shadow: rgba(250, 242, 242, 0.597) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    ;
}